<pre>
 TOT   INH   IND
99.9  99.9     -  <a href='#-903287541'>MAIN MAIN</a> (0)

<a id='-903287541'></a>
99.9  99.9     -  MAIN MAIN (0)
99.9  99.9     -    Main mainT (0)
99.9  99.9     -      Main main12 (0)
95.8  95.8  54.2        PermIndex buildPermIndex (1)
25.7  25.7   2.7          PermIndex buildPermIndex.\ (10)
22.9  22.9   2.1            Files permutate' (760149)
20.8  20.8    .3              Files permutate (760149)
20.5  20.5   6.0                Files permutate.go (4014344)
14.5  14.5   2.1                  Files permutate.go.word'' (4014344)
12.4  12.4  12.1                    Files permutate.next (4014344)
  .3    .3    .3                      Files permutate.next.(...) (4014344)
15.9  15.9     -          Files words (10)
15.9  15.9     -            Files words.\ (10)
15.9  15.9     -              Files words.ok (10)
15.6  15.6   5.3                Files lexems (0)
10.2  10.2   8.6                  Files lexem (0)
  .9    .9    .9                    Files lexem.\ (3403222)
  .7    .7    .7                    Files strip (0)
  .2    .2     -                Data.Text.ICU.Convert open (10)
  .2    .2    .2                  Data.Text.ICU.Internal withName (10)
  .1    .1    .1                Data.Text.ICU.Convert toUnicode (10)
 4.2   4.2   4.2        Files save (1)
</pre>
